* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #0077b6;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.sobre-loja {
    margin: 10px 0;
}

.sobre-conteudo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.imagem-loja img {
    max-width: 100%;
    height: auto;
}
.texto-loja {
    max-width: 600px;
}

.texto-loja h2 {
    text-align:center;
    margin-bottom: 10px;
    border-bottom:  solid #31A2E8;
    top: 10px;
}

.texto-loja p {
    font-size: 20px;
    text-align: justify;
}

.produtos {
    margin: 20px 0;
}

.produtos h2 {
    text-align:left;
    margin-bottom: 20px;
    border-bottom:  solid #31A2E8;
    top: 10px;
}

.lista-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.produto {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1 1 calc(25% - 20px);
}

.produto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.produto h3 {
    margin-bottom: 10px;
}

.produto p {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #054b6c;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0077b6;
    color: white;
    margin-top: 20px;
}

/*-------
 Layout Responsivo 1024
 ------------*/

@media (max-width: 1024px) {
    .sobre-conteudo {
        flex-direction: column;
    }

    .lista-produtos {
        flex-direction: column;
    }

    .produto {
        flex: 1 1 100%;
    }
}
/*-------
 Layout Responsivo 640
 ------------*/
@media (max-width: 640px) {
    header h1 {
        font-size: 24px;
    }

    .texto-loja p {
        font-size: 16px;
    }

    .produto h3 {
        font-size: 18px;
    }
}
/*-------
 Layout Responsivo  641 + 1023
 ------------*/
 @media (min-width: 641px)  and (max-width: 1023px) {
    header h1 {
        font-size: 24px;
    }

    .texto-loja p {
        font-size: 16px;
    }

    .produto h3 {
        font-size: 18px;
    }
 }